In [1]:
import pandas as pd

data = {'jaar': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
       'team': ['Ajax', 'Ajax', 'Ajax', 'PSV', 'PSV', 'AZ', 'AZ', 'AZ'],
       'win': [11, 8, 10, 15, 11, 6, 10, 4],
       'verlies': [5, 8, 6, 1, 5, 10, 6, 12]}

dfVoetbal = pd.DataFrame(data)

dfVoetbal

   jaar  team  verlies  win
0  2010  Ajax        5   11
1  2011  Ajax        8    8
2  2012  Ajax        6   10
3  2011   PSV        1   15
4  2012   PSV        5   11
5  2010    AZ       10    6
6  2011    AZ        6   10
7  2012    AZ       12    4